@import '../../vars.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $text-dark;
  font-family: $font;

  .textContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .stepNo {
    border: 1px solid $text-dark;
    border-radius: 18px;
    height: 36px;
    width: 36px;
    font-size: $body-text-size;
    font-weight: $medium;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    p {
      align-self: center;
    }
  }

  .text {
    font-size: $body-text-size;
    font-weight: $medium;
    margin-left: 20px;
  }

  .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
  }

  .img {
    max-width: 50%;
    max-height: 50%;
  }
}
