@import '../../vars.scss';

.card {
  font-family: $font;
  border-radius: 12px;
  border: 1px $text-light solid;
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  background-color: white;

  .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 16px;
  }

  .title {
    font-weight: $medium;
    color: $text-dark;
    font-size: $font-subheader;
  }

  .text {
    font-weight: $regular;
    color: $text-dark;
    font-size: $body-text-size;
  }

  .color {
    color: $accent !important;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
