@import '../../vars.scss';

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 16px;

  .title {
    font-family: $font;
    font-size: $font-large;
    font-weight: $medium;
    text-transform: uppercase;
  }
  .subTitle {
    margin: 0;
    text-transform: uppercase;
  }
}

.action {
  width: 128px;
}

.subTitle {
  font-family: $font;
  font-size: $font-subheader;
  font-weight: $medium;
  margin-left: 8px;
}

.container {
  margin: 16px;
  display: flex;
  justify-content: center;
}

.fullWidth {
  margin: 8px 8px 0 8px;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addBtn {
  float: right;
}

.col {
  display: flex;
  flex-direction: column;
}

.card {
  font-family: $font;
  border-radius: 12px;
  border: 1px $text-light solid;
  display: flex;
  flex-direction: row;
  margin: 16px 0;

  background-color: white;

  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    margin: 4px 12px 12px 4px;
  }
}
.cardRow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.imgContainer {
  width: 100%;
  display: flex;
  .img {
    width: 480px;
    height: 320px;
    margin: auto;
    object-fit: contain;
  }
}
