@import '../../vars.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin: 16px;

  .title {
    font-family: $font;
    font-size: $font-large;
    font-weight: $medium;
    text-transform: uppercase;
    margin-left: 48.45px;
  }
}

.subheader {
  font-family: $font;
  font-size: $font-subheader;
  font-weight: $medium;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button {
    width: 128px;
  }
}
.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 8px;
  margin-top: 8px;
}

.subtitle {
  font-family: $font;
  font-size: $font-medium;
  font-weight: $medium;
  margin-left: 16px;
  margin-right: 16px;
}

.body {
  font-family: $font;
  font-size: $font-medium;
  font-weight: $bold;
  color: $text-light;
}
