@import '../../vars.scss';

.container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: -moz-fit-content;
  label {
    color: $text-dark;
    font-weight: $medium;
    font-size: $body-text-size;
    margin: 0 0 4px 16px;
  }

  input {
    align-self: stretch;
    background-color: $white;
    border: 1px solid $text-dark;
    border-radius: 4px;
    font-size: $body-text-size;
    font-family: $font;
    color: $text-dark;
    outline: none;
    padding: 0 16px;
    height: 50px;

    &::placeholder {
      color: $filled-btn-bg;
    }
  }
}

.error {
  input {
    border-width: 2px;
    border-style: solid;
    border-color: #b52231;
  }
}
