@import '../../vars.scss';

.card {
  height: 6rem;
  width: 100%;
  background-color: #ffffff;
  font-family: $font;
  display: flex;
  flex-direction: row;

  .title {
    font-size: $body-text-size;
    color: $text-dark;
    font-weight: $medium;
  }

  .description {
    font-size: $font-small;
    font-weight: $regular;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }

  .content {
    margin: 8px;
    width: 100%;
  }

  .img {
    height: 6rem;
    width: 7rem;
    object-fit: cover;
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
