@import '../../vars.scss';

.card {
  font-family: $font;
  border-radius: 12px;
  border: 1px $text-light solid;
  display: flex;
  flex-direction: row;
  max-height: 80%;
  background-color: white;

  .imgContainer {
    width: 50%;
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-bottom-left-radius: 12px;
      border-top-left-radius: 12px;
    }
  }

  .infoContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    .titleContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .title {
        font-size: $font-subheader;
        color: $text-dark;
        font-weight: $medium;
      }
    }
  }

  .icon {
    color: $text-dark;
    margin: 4px 4px 4px 0;
  }

  .infoText {
    font-weight: $bold;
    color: $text-light;
    font-size: $font-medium;
  }
  .smallText {
    color: $text-light;
    font-size: $font-small;
    font-weight: $medium;
  }

  .date {
    font-weight: $bold;
    color: $text-dark;
    font-size: $font-medium;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
