// Colors
$bg-color: #2d2e32;
$text-dark: #242424;
$white: #f0f0f0;
$accent: #ea6e14;
$filled-btn-bg: #404040;
$text-light: #666666;
$link: #0079d3;
$snow: #fafafa;
$divider: #c4c4c4;
$blue: #212c49;
$card-bg-color: #222326;
$card-detail-color: #45464c;

$font: 'Quicksand', sans-serif;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$thicc: 900;


//Sizes
$font-tiny: 0.75rem;
$font-small: 0.875rem;
$font-medium: 1rem;
$body-text-size: 1.125rem;
$font-subheader: 1.5rem;
$font-large: 2rem;