// Colors
$bg-color: #2d2e32;
$text-dark: #242424;
$white: #f0f0f0;
$accent: #ea6e14;
$filled-btn-bg: #404040;
$text-light: #666666;
$link: #0079d3;
$snow: #fafafa;
$divider: #c4c4c4;
$blue: #212c49;
